[submodule "OpenMfx"]
	path = OpenMfx
	url = https://github.com/tkarabela/OpenMeshEffect
	branch = OpenMfxRemoteProxy
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers
